body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.NavHeader {
  font-family: "Roboto", sans-serif;
}

.LangList {
  background-color: white;
  border-radius: 10px;
  transform: translateY(15px);
  transition: 0.5s ease all;
  opacity: 0;
  box-shadow: 0px 0px 10px 0.6px rgba(0, 0, 0, 0.521);
}

#Language:checked ~ .LangList {
  opacity: 1;
  transform: translateY(5px);
  transition: 0.5s ease all;
}

.LangList li {
  cursor: pointer;
}

.hero-section {
  background-image: url(https://www.devicemag.com/wp-content/uploads/2023/03/netflix-error-22004-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UpperLayer {
  background-color: rgba(0, 0, 0, 0.642);
}

.footer-section {
  font-family: "Robot", sans-serif;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .EmailBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid transparent;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  }
}

@media (min-width: 768px) {
  .EmailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
  }
}


.EmailBox button {
  width: 200px;
  background-color: red;
  color: white;
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
}

.EmailBox input {
  width: 400px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(48, 48, 48, 0.571);
}

.FirstUl li {
  color: rgb(161, 161, 161);
  text-decoration: underline;
  cursor: pointer;
}

.SecondUl li {
  color: rgb(161, 161, 161);
  text-decoration: underline;
  cursor: pointer;
}
