body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.NavHeader {
  z-index: 9999;
}

.LangList {
  background-color: white;
  border-radius: 10px;
  transform: translateY(15px);
  transition: 0.5s ease all;
  opacity: 0;
  box-shadow: 0px 0px 10px 0.6px rgba(0, 0, 0, 0.521);
}

#Language:checked ~ .LangList {
  opacity: 1;
  transform: translateY(5px);
  transition: 0.5s ease all;
}

.LangList li {
  cursor: pointer;
}

.hero-section {
  background-image: url(https://www.devicemag.com/wp-content/uploads/2023/03/netflix-error-22004-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UpperLayer {
  background-color: rgba(0, 0, 0, 0.642);
}

.reason-section {
  font-family: "Robot", sans-serif;
}

@media (max-width: 1268px) {
  .ReasonCard {
    border: 2px solid gray;
    color: white;
    width: 80%;
    margin: 20px auto;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(
      135deg,
      #0f1b3d 0%,
      #1b1f4a 35%,
      #2a1638 65%,
      #0b0b0f 100%
    );
  }

  .ReasonCard h3 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .ReasonCard p {
    text-align: center;
    width: 80%;
    margin-top: 20px;
  }
}

@media (min-width: 1268px) {
  .ReasonCard {
    border: 2px solid gray;
    color: white;
    width: 300px;
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    border-radius: 20px;
    background: linear-gradient(
      135deg,
      #0f1b3d 0%,
      #1b1f4a 35%,
      #2a1638 65%,
      #0b0b0f 100%
    );
  }

  .ReasonCard h3 {
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .ReasonCard p {
    text-align: center;
    width: 80%;
    margin-top: 30px auto;
  }
}


@media (max-width: 568px) {
  .MovieCard {
    border: 2px solid gray;
    width: 90%;
    height: 550px;
    margin: 10px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0.3px rgba(255, 0, 0, 0.568);
    perspective: 1000px;
    transition: 0.5s ease all;
  }
}

@media (min-width: 568px) {
  .MovieCard {
    border: 2px solid gray;
    width: 400px;
    height: 550px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0.3px rgba(255, 0, 0, 0.568);
    overflow: hidden;
    perspective: 1000px;
    transition: 0.5s ease all;
  }
}

@media (max-width: 768px) {
  .CardOR {
    border: 1px solid transparent;
    width: 90vw;
    margin: 50px auto;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  .Image {
    border: 1px solid transparent;
    height: 60%;
  }
  .Content {
    border: 1px solid transparent;
    height: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1068px) {
  .CardOR {
    border: 1px solid transparent;
    width: 95%;
    margin: 50px auto;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  .Image {
    border: 1px solid transparent;
    width: 50%;
  }
  .Content {
    border: 1px solid transparent;
    width: 50%;
  }
}

@media (min-width: 1068px) {
  .CardOR {
    border: 1px solid transparent;
    width: 70%;
    margin: 50px auto;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
  }

  .Image {
    border: 1px solid transparent;
    width: 50%;
  }
  .Content {
    border: 1px solid transparent;
    width: 50%;
  }
}

.Image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ImgCardOne {
  background-image: url(https://static1.moviewebimages.com/wordpress/wp-content/uploads/2022/10/Daniel-Radcliffe-as-Harry-Potter-in-the-first-movie.jpg);
}

.ImgCardTwo {
  background-image: url(https://media.criticalhit.net/2018/07/MissionImpossible_bg.jpg);
}

.ImgCardThree {
  background-image: url(https://cdn.mos.cms.futurecdn.net/by8Tr8RPFkq7LEXQQ9cLcB-1200-80.jpg);
}

.ImgCardFour {
  background-image: url(https://static1.srcdn.com/wordpress/wp-content/uploads/Lord-of-the-Rings.jpg);
}

.ImgCardFive {
  background-image: url(https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2022/03/batman-final-explicado-pelicula-2022.jpeg);
}

.ImgCardSix {
  background-image: url(https://www.rockrooster.gr/wp-content/uploads/2021/10/thumb-1920-1064725.jpg);
}

.ImgCard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CardFrame {
  border: 1px solid transparent;
  transform-style: preserve-3d;
  position: relative;
  transition: 0.6s ease all;
}

.MovieCard:hover .CardFrame {
  transform: rotateY(180deg);
}

.FrontFace,
.BackFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  flex-direction: column;
  border: 2px solid gray;
}

.FrontFace {
  background-color: black;
}

.BackFace {
  background-color: rgb(45, 45, 45);
  transform: rotateY(180deg);
}

.BackFace h2 {
  font-weight: 600;
  font-size: 25px;
  color: red;
}

.BackFace p {
  color: white;
  width: 90%;
  font-size: 12px;
}

.SliderComes {
  transform: translateY(-100%);
  transition: 0.6s ease all;
  opacity: 0;
}

.ImgCard:hover .SliderComes {
  transform: translateY(0%);
  transition: 0.6s ease all;
  opacity: 1;
}

.ImgOne {
  background-image: url(https://wallpapercave.com/wp/wp7978475.jpg);
}

.ImgTwo {
  background-image: url(https://www.backstageol.com/wp-content/uploads/2022/04/imgonline-com-ua-resize-kgIJ9ukFzE1-1000x563.jpg);
}

.ImgThree {
  background-image: url(https://www.journaldugeek.com/content/uploads/2020/05/dark.jpg);
}

.ImgFour {
  background-image: url(https://www.hollywoodinsider.com/wp-content/uploads/2021/12/The-Hollywood-Insider-The-Witcher.png);
}

.ImgFive {
  background-image: url(https://static1.cbrimages.com/wordpress/wp-content/uploads/2024/11/squid-game.jpg);
}

.CardOR {
  background-color: rgb(36, 36, 36);
  box-shadow: 0px 0px 15px 0.5px white;
}

@media (min-width: 768px) {
  .Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .Content h1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .ContentData p {
    margin-top: 20px;
  }
}

.SlideLogo {
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(https://static1.xdaimages.com/wordpress/wp-content/uploads/2022/05/netflix.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-100%);
  transition: 0.7s ease all;
}

.CardOR:hover .SlideLogo {
  transform: translateX(0%);
  transition: 0.7s ease all;
}

.ConCard {
  border: 2px solid rgba(48, 48, 48, 0.979);
  width: 350px;
  height: 250px;
  position: relative;
  margin-top: 30px;
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
}

.ContinueCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.ImageSec {
  border: 1px solid rgba(255, 255, 255, 0.404);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.one {
  background-image: url(https://static1.cbrimages.com/wordpress/wp-content/uploads/2025/06/jurassic-world-rebirth-scarlett-johansson-and-a-dinosaur.jpg);
}

.two {
  background-image: url(https://images.thedirect.com/media/photos/strangeportal_f0YhYbi.png);
}

.three {
  background-image: url(https://static0.cbrimages.com/wordpress/wp-content/uploads/2019/10/robert-downey-jr-doctor-dolittle-poster-header.jpg);
}

.four {
  background-image: url(https://media1.popsugar-assets.com/files/thumbor/RFapguckBpAqFRSNQl_n5_r2XvA/fit-in/1200x630/filters:format_auto-!!-:strip_icc-!!-:fill-!white!-/2018/05/08/661/n/1922283/e2c615ed5af1b9c3c44b10.68894074_.jpg);
}

.five {
  background-image: url(https://i.abcnewsfe.com/a/1aa70843-6f36-45fa-a2b7-bf7b32e0c035/deadpool-1-ht-dp-042224_1713794594236_hpMain.jpg);
}

.six {
  background-image: url(https://image.tmdb.org/t/p/original/ipyxbPJrLB1g9AfHq4xH5nLWmew.jpg);
}

.seven {
  background-image: url(https://static1.moviewebimages.com/wordpress/wp-content/uploads/2025/04/the-rock-kevin-hart-jack-black-and-karen-gillen-in-jumanji-2.jpg);
}

.eight {
  background-image: url(https://static1.moviewebimages.com/wordpress/wp-content/uploads/2023/08/a-haunting-in-venice.jpg);
}

.MovieName {
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px; 
}

.Watchow {
  border: 1px solid transparent;
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.layerOne {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.404);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  cursor: pointer;
}


.TopTenCards {
  display: flex;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
}


