body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.NavHeader {
  font-family: "Roboto", sans-serif;
}

.LangList {
  background-color: white;
  border-radius: 10px;
  transform: translateY(15px);
  transition: 0.5s ease all;
  opacity: 0;
  box-shadow: 0px 0px 10px 0.6px rgba(0, 0, 0, 0.521);
}

#Language:checked ~ .LangList {
  opacity: 1;
  transform: translateY(5px);
  transition: 0.5s ease all;
}

.LangList li {
  cursor: pointer;
}

.hero-section {
  background-image: url(https://www.devicemag.com/wp-content/uploads/2023/03/netflix-error-22004-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.UpperLayer {
  background-color: rgba(0, 0, 0, 0.642);
}

.ConCard {
  border: 2px solid rgba(48, 48, 48, 0.979);
  width: 350px;
  height: 250px;
  position: relative;
  margin-top: 30px;
  background-color: gray;
  border-radius: 20px;
  overflow: hidden;
}

.ContinueCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.ImageSec {
  border: 1px solid rgba(255, 255, 255, 0.404);
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.one {
  background-image: url(https://static1.cbrimages.com/wordpress/wp-content/uploads/2025/06/jurassic-world-rebirth-scarlett-johansson-and-a-dinosaur.jpg);
}

.two {
  background-image: url(https://images.thedirect.com/media/photos/strangeportal_f0YhYbi.png);
}

.three {
  background-image: url(https://static0.cbrimages.com/wordpress/wp-content/uploads/2019/10/robert-downey-jr-doctor-dolittle-poster-header.jpg);
}

.four {
  background-image: url(https://media1.popsugar-assets.com/files/thumbor/RFapguckBpAqFRSNQl_n5_r2XvA/fit-in/1200x630/filters:format_auto-!!-:strip_icc-!!-:fill-!white!-/2018/05/08/661/n/1922283/e2c615ed5af1b9c3c44b10.68894074_.jpg);
}

.five {
  background-image: url(https://i.abcnewsfe.com/a/1aa70843-6f36-45fa-a2b7-bf7b32e0c035/deadpool-1-ht-dp-042224_1713794594236_hpMain.jpg);
}

.six {
  background-image: url(https://image.tmdb.org/t/p/original/ipyxbPJrLB1g9AfHq4xH5nLWmew.jpg);
}

.seven {
  background-image: url(https://static1.moviewebimages.com/wordpress/wp-content/uploads/2025/04/the-rock-kevin-hart-jack-black-and-karen-gillen-in-jumanji-2.jpg);
}

.eight {
  background-image: url(https://static1.moviewebimages.com/wordpress/wp-content/uploads/2023/08/a-haunting-in-venice.jpg);
}

.MovieName {
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 20px; 
}

.Watchow {
  border: 1px solid transparent;
  width: 30%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.layerOne {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.404);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  cursor: pointer;
}



